<h1>
  Hello world from hello
</h1>

<% 1 + 1 %> <!-- calculated but didn't output it to the template -->
<%= 2 + 2 %><!-- calculated AND output to the template -->

<% target = "world" %>
<%= "Hello #{target}" %><!-- Ruby interpolation -->

<%
 3.times do |n|
   puts n
 end
%> <!-- the puts command outputs to the Ruby stdout (console), but using = it will return 3, since that's the return value -->

<%
 3.times do |n|
   puts n
 end
%>
  
<% 3.times do |n| %>
  <%= n %><br>
<% end %><!-- now it works as expected, printing out to our rendered html page -->

<% @array.each do |n| %>
  <%= n %><br>
<% end %>

ID: <%= @id %><br>
ID: <%= params[:id] %><br>
Page: <%= @page %><br>
Next page: <%= @page + 1 %><br><!-- Will throw type arror: No implicit conversion of int type to string cuz PARAMS ARE ALWAYS STRINGS!!! -->
Next page: <%= @page.to_i + 1 %><br><!-- Now it will work -->